/* 
  ---Document Styles Below---
*/

:root {
  --borderColorStart: rgba(255, 255, 255, 0.3);
  --borderColorEnd: rgba(255, 255, 255, 0.8);
  --globalBackgroundColor: rgb(0, 0, 0);
  --globalLineColor: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  justify-self: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  background-color: var(--globalBackgroundColor);
  color: var(--globalLineColor);
  transition: 0.5s;
}

#content {
  width: 95%;
  justify-content: center;
}


#modeSwitch {
  height: 25px;
  width: 25px;

  padding: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--globalLineColor);
}

#bio {

  display: flex;
  flex-direction: row;
  background-color: var(--globalBackgroundColor);
  width: 100%;

  padding: 10px;
  border-radius: 12px;
  border-style: solid;

  background-color: var(--globalBackgroundColor);
  border-color: var(--globalLineColor);
  color: var(--globalLineColor);
  transition: 0.5s;


}

#Photo {
  height: auto;
  width: 25%;

  align-self: last baseline;
}

#bioInfo {
  justify-items: left;
}

.bioText {
  font-size: 25;
  color: var(--globalLineColor);
  justify-self: left;
}

#Name {
  font-size: 24px;
  font-weight: bold;
}

.mainButtons {
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: 100%;
}

.centeredDiv {
  display: flex;
  flex-direction: row;
}

.mButton {
  width: 30%;
  height: 50px;
  margin: 1%;
  padding: 1%, 3%;

  font-size: 12px;
  font-weight: 500px;

  border-radius: 12px;
  background-color: var(--globalBackgroundColor);
  border-color: var(--globalLineColor);
  color: var(--globalLineColor);
  transition: 0.5s;
}

.mButton:hover {
  background: #303030;
}

.mButton:before {
  content: '';
  position: absolute;
  z-index: 1;
}

.miniSpacer {
  width: 0px;
  height: 20px;

  content: '';
}

@keyframes fadeInAbsolute {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInPartial {

  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes inFocus {

  from {
    scale: 1
  }

  to {
    scale: 1.05
  }
}

#All_Projects {
  width: 100%;
  justify-content: center;
}

.A_Subject {
  justify-content: middle;
  justify-items: middle;
  justify-self: middle;
}

.A_Project {

  scale: 0.8;
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: fit-content;
  max-width: 650px;

  position: relative;
  transition: 0.5s;

  opacity: 0.5;
  content: '';
  height: auto;

  padding: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: var(--globalBackgroundColor);

  border-radius: 15px;
  border-style: solid;
  border-color: var(--globalLineColor);

}

@keyframes borderInAndOut {

  from {
    border: 15px, solid, var(--borderColorStart);
  }

  to {
    border: 15px, solid, var(--borderColorEnd);
  }

}

.A_Project:hover {
  opacity: 1;
  z-index: 100;
  transform: scale(1.2, 1.2);
  animation: borderInAndOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;

  width: fit-content;
}

.A_Project:hover {
  opacity: 1;
  z-index: 100;
  transform: scale(1.2, 1.2);
  animation: borderInAndOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;

  width: fit-content;
}

.Project_Left {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  width: fit-content;
}

.Square {
  width: 70%;
  max-width: 400px;
  align-self: center;
}

.Horiz_Rect {
  width: 100%;
  min-width: 50px;
  max-width: 400px;
  align-self: center;
  margin: 20px;

}


.Vert_Rect {
  width: 50%;
  margin: 10px;
  height: 300px;
 
}

#DCNIcon1 {
  justify-self: left;
}

#DCNIcon2 {
  justify-self: right; 
}

.RectHalfGrouper {

  display: flex;
  flex-direction: row; 
  width: 100%;
   max-width: 500px;

  margin-right: 20px;
  margin-left: 20px;
  align-self: center; 
}

.Project_Header {
  width: 90%;

  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: space-between;

  margin: 20px;
}

.A_Title {
  animation: fadeInAbsolute 3s linear;
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: bold;

  justify-self: left;
}

.A_Date {
  animation: fadeInAbsolute 3s linear;
  margin: 0;
  padding: 0;

  font-size: 14px;
  justify-self: right;
}

.DescButtons {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.A_DescButton {
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px, 5px;
  font-size: 12px;
  font-weight: 500px;

  border-radius: 12px;
  background-color: var(--globalBackgroundColor);
  border-color: var(--globalLineColor);
  color: var(--globalLineColor);
  transition: 0.5s;
}

.All_Descriptions {
 
  width: 100%;
  padding: 10px;
  margin: 10px; 

  display: none;

  justify-items: center;
  justify-self: center;
}

.A_Description {
  animation: fadeInAbsolute 0.5s linear;

  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 10px; 

  font-size: 15px;
  font-weight: normal;

  justify-self: center;
  text-align: left;


  border-radius: 10px;
  border-color: var(--globalLineColor);
  border-style: solid;

  display: none;
}


.A_DescVideo {
  align-self: first baseline;

  width: 30px;

  border-radius: 10px;
  border-color: var(--globalLineColor);
  border-style: solid;

  width: inherit;
  height: inherit;

  align-self: center;

  display: none;
}

#popup_Container {
  display: grid;
  place-items: center;

  width: fit-content;
  height: fit-content;
  height: 100%;
}

#popup_Image {
  position: fixed;
  z-index: 200;
  width: 350px;
  height: fit-content;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  border-color: var(--globalLineColor);
  border-style: solid;


}
